In [1]:
import pandas as pd
import os

In [7]:
# looking for necessary path
os.listdir('/home/jupyter-k.sanzhar-13/shared/homeworks/python_ds_miniprojects/4')

['data']

In [8]:
path = '/home/jupyter-k.sanzhar-13/shared/homeworks/python_ds_miniprojects/4/data'

In [19]:
# create df for all data
df = pd.DataFrame()

# read data from all files and add it to general df
for current_path, dirs, files in os.walk(path):
    for file in files:
        # construct full path to file
        data_path = f"{current_path}/{file}"
        
        # read data
        temp_df = pd.read_csv(data_path)
        
        # name, date
        path_parts = current_path.split('/')
        date = path_parts[-2]
        name = path_parts[-1]
        
        # add date and name columns 
        temp_df['date'] = date
        temp_df['name'] = name
        
        # insert data into main df
        df = pd.concat((df, temp_df))
        
        # check for true
        print(df.shape)

(5, 5)
(9, 5)
(12, 5)
(18, 5)
(20, 5)
(23, 5)
(28, 5)
(34, 5)
(35, 5)
(40, 5)
(46, 5)
(51, 5)
(52, 5)
(55, 5)
(59, 5)
(65, 5)
(66, 5)
(69, 5)
(75, 5)
(80, 5)
(83, 5)
(86, 5)
(88, 5)
(94, 5)
(96, 5)
(102, 5)
(104, 5)
(108, 5)
(114, 5)
(119, 5)
(121, 5)
(125, 5)
(128, 5)
(130, 5)
(132, 5)
(134, 5)
(137, 5)
(143, 5)
(147, 5)
(151, 5)
(155, 5)
(156, 5)
(158, 5)
(161, 5)

In [20]:
df

    Unnamed: 0  product_id  quantity        date            name
0            0          27         4  2020-12-05     Petr_Ivanov
1            1          89         1  2020-12-05     Petr_Ivanov
2            2          33         2  2020-12-05     Petr_Ivanov
3            3           8         3  2020-12-05     Petr_Ivanov
4            4          16         1  2020-12-05     Petr_Ivanov
..         ...         ...       ...         ...             ...
0            0          18         4  2020-12-07    Petr_Fedorov
1            1          94         4  2020-12-07    Petr_Fedorov
0            0          95         2  2020-12-07  Vasiliy_Ivanov
1            1          83         3  2020-12-07  Vasiliy_Ivanov
2            2          64         1  2020-12-07  Vasiliy_Ivanov

[161 rows x 5 columns]

In [21]:
df.drop(columns=['Unnamed: 0'], inplace=True) # getting rid of useless columns

In [24]:
df.reset_index(drop=True, inplace=True) # fixing indexes

In [25]:
# now, we can freely work with our prepared dataset
df

     product_id  quantity        date            name
0            27         4  2020-12-05     Petr_Ivanov
1            89         1  2020-12-05     Petr_Ivanov
2            33         2  2020-12-05     Petr_Ivanov
3             8         3  2020-12-05     Petr_Ivanov
4            16         1  2020-12-05     Petr_Ivanov
..          ...       ...         ...             ...
156          18         4  2020-12-07    Petr_Fedorov
157          94         4  2020-12-07    Petr_Fedorov
158          95         2  2020-12-07  Vasiliy_Ivanov
159          83         3  2020-12-07  Vasiliy_Ivanov
160          64         1  2020-12-07  Vasiliy_Ivanov

[161 rows x 4 columns]